# Ignore
*.docx
credentials.json
refresh_token.json
cases
__pycache__

# Exclude
!Template - SHORT - Individual - ORIGINAL.docx
!Template - SHORT - Individual.docx
!Template  Formal Demand for UMA.docx
!Template UM - SHORT.docx