# Ignore
*.docx
credentials.json
refresh_token.json
cases
__pycache__

# Exclude
!Template - SHORT - Individual - ORIGINAL.docx
!Template - SHORT - Individual.docx
!Template  Formal Demand for UMA.docx
!Template UM - SHORT.docx
!Slip & Fall Template Demand - ORIGINAL.docx
!Slip & Fall Template Demand.docx
!Exhibit 1-8.pdf
!W-9 (2025).pdf
!Exhibit 1-8.docx